@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*======BACKGROUND-COLORS=======*/
    --bg-color-1: #00477F;
    --bg-color-2: #5AA058;
    --bg-color-3: #fff;
    --bg-color-4: #000;
    --bg-color-5: #AF1110;
    --bg-color-6: #f8f8f8;
    --bg-color-7: #f2f2f2;
    --bg-color-8: #013761;
    /*======TEXT COLOR =======*/
    --t-color-1: #00477F;
    --t-color-2: #5AA058;
    --t-color-3: #fff;
    --t-color-4: #000;
    --t-color-5: #AF1110;
    /*=======DESIGN COLOR=======*/
    --d-color-1: #00477F;
    --d-color-2: #5AA058;
    --d-color-3: #fff;
    --d-color-4: #000;
    --d-color-5: #AF1110;
    /*======GRADIENT=====*/
    --gradient-1: linear-gradient(217.02deg, #00477F 14.1%, #5AA058 85.88%);
    --gradient-2: linear-gradient(180deg, #00477F 0%, #5AA058 100%);
    /*=======FONT-SIZE=========*/
    --fs-xxs: 10px;
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-xxl: 24px;
    /*======BLACK LEVELS=========*/
    --black-1: rgba(0,0,0,0.1);
    --black-2: rgba(0,0,0,0.2);
    --black-3: rgba(0,0,0,0.3);
    --black-4: rgba(0,0,0,0.4);
    --black-5: rgba(0,0,0,0.5);
    --black-6: rgba(0,0,0,0.6);
    --black-7: rgba(0,0,0,0.7);
    --black-8: rgba(0,0,0,0.8);
    --black-9: rgba(0,0,0,0.9);
}
