/*----------about button----------*/
.about-button{
    @include center;
    align-self: center;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid var(--d-color-1);
    border-radius: 10px;
    background-color: var(--bg-color-3);
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    position: relative;
    --tilt: 1.2rem;
    span{
        color: var(--t-color-1);
        font-size: 20px;
        font-weight: 600;
        z-index: 3;
    }
    &::after{
        clip-path: polygon(
            0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%
        );
        content: "";
        position: absolute;
        display: block;
        background-color: var(--bg-color-1);
        height: 100%;
        width: 40px;
        top: 0;
        left: 0;
        transform: scale(1);
        border-radius: 10px 0 0 10px;
        opacity: 0;
    }
    &::before{
        clip-path: polygon(
            0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%
        );
        content: "";
        position: absolute;
        display: block;
        background-color: var(--bg-color-1);
        height: 100%;
        width: 40px;
        top: 0;
        right: 0;
        transform: scale(1) rotate(180deg);
        transition: all 0.3s;
        border-radius: 10px 0 0 10px;
        opacity: 0;
    }
    &:hover{
        border-color: #fff;
        animation: pulse-1 1s ease 0.3s infinite;
        span{
            color: var(--t-color-3);
        }
        &::after,
        &::before{
            width: 70%;
            opacity: 1;
        }
    }
}