header{
    .top-navbar{
        width: 100%;
        background-color: var(--bg-color-3);
        .col-6{
            padding: 0;
        }
        .container{
            @include center;
            .row{
                width: 100%;
                padding: 14px 0;
                border-bottom: 1px solid var(--black-1); 
            }
            
        }
    }
}