/*-------------VIONA BASKET PAGE-------------*/
.basket-form{
    .row{
        width: 100%;
    }
    .col-12.col-lg-6{
        padding: 0;
    }
    .delivery-terms-link{
        font-size: 20px;
        text-decoration: underline;
        font-weight: 600;
        color: #000;
        padding: 15px 0;
        display: inline-block;
        margin-bottom: 25px;
        &:hover{
            color: var(--t-color-2);
        }
    }
    .payment-card-info{
        @include column-center;
        .header{
            font-size: 20px;
            font-weight: 500;
            display: inline-block;
            margin-bottom: 20px;
            align-self: flex-start;
        }
        .payment-cards{
            width: 100%;
            @include row-start;
            margin-bottom: 20px;
            .card:first-child{
                margin-right: 10px;
            }
        }
        label span{
            color: #C90C0C;
            font-weight: 700;
            font-size: 20px;
        }
        .form-control{
            background-color: #fff;
            border: 1px solid var(--black-2);
            color: #000;
            &::placeholder{
                color: var(--black-2);
            }
        }
    }
    .basket-edit-data-wrapper{
        width: 100%;
        @include column-center;
        padding: 0 10px;
        margin-top: 15px;
        
        .header{
            width: 100%;
            padding: 15px 0;
            border-bottom: 1px solid var(--black-2);
            @include s-between;
            span{
                font-size: 22px;
                font-weight: 600;
            }
            a{
                color: var(--t-color-1);
                font-size: 18px;
                font-weight: 600;
                &:hover{
                    color: var(--t-color-2);
                }
            }
        }
        .basket-products{
            width: 100%;
            @include column-start;
            overflow-x: auto;
            margin-bottom: 20px;
            .row{
                width: 100%;
                min-width: 500px;
                min-height: 140px;
                margin: 0;
                border-bottom: 1px solid var(--black-2);
                .product-info{
                    @include column-center;
                    padding-left: 10px;
                    
                }
                .price{
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--t-color-5);
                }
            }
        }
        .product-image{
            width: 100px;
            height: 100px;
            img{
                width: 100px;
                height: 100px;
                min-height: 100px;
                object-fit: contain;
            }
        }
        .prices-wrapper{
            width: 100%;
        }
        .confirm-order-button{
            width: 100%;
            margin: 20px 0;
            max-width: 100%;
        }
        
    }
}
@media only screen and (min-width: 992px){
    .basket-form{
        .col-12.col-lg-6{
            &:first-child{
                padding-right: 10px;
            }
            &:last-child{
                padding-left: 10px;
            }
        }
    }
}