/*--------PRODUCT IMAGE--------*/
.product-image{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        object-fit: contain;
    }
    .product-top-swiper{
        margin-bottom: 10px;
        img{
            min-height: 180px;
            max-height: 220px;
        }
    }
    .product-thumb-swiper{
        img{
            width: 100%;
            min-height: 40px;
            max-height: 50px;
        }
    }
}

@media only screen and (min-width: 1200px){
    .product-image{
        img{
            max-height: 240px;
        }
        .product-thumb-swiper{
            img{
                height: 50px;
            }
        }
    }
}
