/*--------PRODUCT IMAGE--------*/
.product-image{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    .product-top-swiper{
        margin-bottom: 10px;
    }
    .product-thumb-swiper{
        img{
            width: 100%;
            height: 40px;
        }
    }
}

@media only screen and (min-width: 1200px){
    .product-image{
        img{
            height: 140px;
        }
        .product-thumb-swiper{
            img{
                height: 50px;
            }
        }
    }
}
