/*--------product colors swiper--------*/
.product-color-swiper{
    .color-item{
        @include column-center;
        color: #000;
        button{
            border: 2px solid transparent;
        }
        img{
            width: 100%;
            max-width: 150px;
            height: 70px;
            object-fit: contain;
        }
        span{
            color: #000;
            padding: 10px 0;
            font-weight: 600;
        }
        &.active{
            button{
                border-color: var(--d-color-1);
            }
        }
    }
}