/*-----------CATEGORY LINK-----------*/
.categories-wrapper{
    width: 100%;
    @include s-between;
    padding: 30px 0;
    .category-container{
        width: 100%;
        position: relative;
    }
    .category-name{
        width: 100%;
        @include s-between;
        &.enable{
            button{
                display: flex;
            }
        }
        button{
            display: none;
            padding: 10px;
            color: var(--t-color-1);
            &:hover{
                background-color: var(--bg-color-1);
                color: #fff;
                border-radius: 5px;
            }
        }
    }
    .category-menu{
        width: 100%;
        @include column-center;
        &.main{
            .category-name{
                button{
                    color: var(--t-color-2);
                    &:hover{
                        background-color: var(--bg-color-2);
                        color: #fff;
                    }
                }
            }
        }
    }
    .category-link{
        padding: 0;
        @include center;
        .icon{
            @include center;
            margin-right: 10px; 
            img{
                max-width: 50px;
                max-height: 50px;
            }
        }
        span{
            color: var(--t-color-4);
            font-size: 16px;
            font-weight: 500;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                bottom: -5px;
                left: 0;
                background-color: var(--bg-color-2);
                transition: 0.5s;
            }
        }
        &:nth-child(2n+1){
            span{
                &::after{
                    background-color: var(--bg-color-1);
                }
            }
        }
        &:hover span{
            color: var(--t-color-2);
            &::after{
                width: 100%;
            }
        }
        &:nth-child(2n+1):hover span{
            color: var(--t-color-1);
        }
    }
    &.secondary{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
        .category-link{
            justify-content: flex-start;
            
            padding: 7px 0;
            .icon{
                margin-right: 10px;
                width: 40px;
            }
        }
    }
}